/* global, index.hbs */

body {
  padding-left: 5%;
  height: auto;
  width: 60%;
  display: block;
  font-family: 'Roboto', Helvetica, sans-serif;
}

a {
  color: #00B7FF;
}


input {
  margin-top: 1%;
  margin-bottom: 3%;
}

/* general styles */
button {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #bbb;
  color: #555;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.75px;
  border-radius: 3px;
}

button:hover {
  background-color: white;
}

#header {
  margin: 1%;
  padding: 1%;
  white-space: pre;
}


/* ("welcome to") */
h1{

}

#loginForm {
  width: 50%;
  margin: 1%;
  padding: 1%;
}
/* ("please log in", "don't have an account?...""create a new account", "thank you for signing up!") */
h2 {
  white-space: pre;
}

/* login button */
#login {


}

#noAct {
  width: auto;
  margin: 1%;
  padding: 1%;
  white-space: pre;

}
/*create an acct button*/
#makeAct {

}


/* newuser.hbs */
#createHeader {
  margin: 1%;
  padding: 1%;
}

#newuserForm {
  width: 50%;
  margin: 1%;
  padding: 1%;
  white-space: pre;
}

#createAct {

}

#signupMsg {

}
