/*  */
/* "GLobal" Styles */

body {
  padding: 50px;
  display: ;
  font-family: 'Roboto', Helvetica, sans-serif;
}

a {
  color: #00B7FF;
}



input {
  margin-top: 1%;
  margin-bottom: 3%;
}

/* general styles */
button {

}

#header {
  width: 50%;
  margin: 1%;
  padding: 1%;
}

/* login button */
#login {

}
/* ("welcome to") */
h1{

}

#loginForm {
  width: 50%;
  margin: 1%;
  padding: 1%;
}
/* ("please log in", "don't have an account?...""create a new account", "thank you for signing up!") */
h2 {

}

#newUser {
  width: 50%;
  margin: 1%;
  padding: 1%;
}

/* newuser.hbs */

#createHeader {
  width: 50%;
  margin: 1%;
  padding: 1%;
}

#newuserForm {
  width: 50%;
  margin: 1%;
  padding: 1%;
}

#signupMsg {

}
