/* UserView */
#app {
}

button:hover {
  /*background-color: white;*/
}

::-webkit-scrollbar {
    display: none;
}

/* */
/* Header Div */
#header {
  padding-bottom: 10px;
  margin: 1%;
  padding: 1%;
  text-align:right;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  right: 0;
  width: 100%;
  display: block;
}

#logoutBtn {
  margin: 1%;
  float: left;
}


/* user info div  */
#userCrap {

}

/* User Bio Text*/
#userBio {

}

/* Welcome, ____ */
h1 {
  margin: 0%;
}


h2 {

}



/* CreatePostView */
#createPost {
  float:right;
  width: 300px;

}

#post {

}

#postBox {
  width: 200px;
  height: 100px;
  padding: 5px;
  margin-bottom: 5%;
  margin-top: 1%;
  border-radius: 3px;
}

#postBtn {

}

/* MyPostsView */

/* User Posts div */
#userPosts {

}
/* div w/ username & userpic next to post */
#userPostInfo {

}

/* RecentPostsView */

#recentPosts{
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
