<head><title>{{title}}</title></head>
<p>Create a new account</p>
<br><br>
<form action='checkUser.js'>
  Choose a username:<br>
  <input type='text' name='newUser'>
  <br><br>
  Choose a password:<br>
  <input type='password' name='newPass'>
  <br><br>
  <input type='submit' id='createNew' value='Create'>
</form>
