<head><title>{{title}}</title></head>
<p>Create a new account</p>
<br><br>
<form action='newuser' method='post'>
  Choose a username:<br>
  <input type='text' name='newUser'>
  <br><br>
  Choose a password:<br>
  <input type='password' name='newPass'>
  <br><br>
  <button type='submit' id='createNew'>Create</button>
</form>
