<head><title>{{title}}</title></head>
<p>Welcome to micro-blog</p>
<h2 style="color:red">{{error}}</h2>
<p>Please log in</p>
<form action='login' method='post'>
  Username:<br>
  <input type='text' name='user'>
  <br>
  Password:<br>
  <input type='password' name='pass'>
  <br><br>
  <button type='submit' id='login'>Login</button>
</form>
<br><br>
<p>Don't have an account? Create one</p>
<br>
<form action='create'>
  <button type='input' id='create'>Create</button>
</form>
